@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lavishly+Yours&display=swap');

:raiz{ 
  --fonte-primaria:"Imperial";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}

body {
  background-color: #f2eee8;
  color: #000000;
  font-family: var(--fonte-primaria);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.empresa h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 50px;
}

.empresa p {
  font-size: 18px;
  color: #555555;
}

header {
  color: rgb(255, 255, 255);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

nav {
  background-color: #999999;
  padding: 14px;
  text-align: center;
}

nav a {
  color: rgb(247, 244, 244);
  text-decoration: none;
  margin: 5 15px;
  font-weight: bold;
}

main {
  width: 90%;
  max-width: 100000px;
  margin: 30px auto;
  padding: 20px;
}

.bloco {
  background: rgb(224, 221, 221);
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin: 30px 0;
}

.msn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.msn img {
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.msn p,
.msn ul {
  flex: 1;
  min-width: 200px;
}

.dest {

  background-position: center;
  background-size: cover;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(2, 2, 2);
  font-size: 40px;
  font-family: var(--fonte-primaria);
  margin-bottom: 5px;
  margin-top: 80px;
}

.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 20px;
  margin-bottom: 30px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.container img {
  width: 50%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(22, 22, 22, 0.1);
}

.texto {
  width: 500%;
  padding: 30px;
}

#carouselExampleFade {
  max-width: 2000px;
  margin: 0px auto;
  overflow: hidden;
  box-shadow: 0 8px 25px #ffeae9;
}

.carousel-inner img {
  object-fit: cover;
  height: 600px;
  width: 1000%;
}

.nav-custom {
  background-color: rgb(224, 219, 219);
}

.navbar-nav {
  gap: 10px;
}

.nav-link {
  color: var(--color-font-clara);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: var(--color-font-clara);
   border-radius: 12px;
  box-shadow: 0 16px 32px rgb(248, 244, 244);
  transform: translateY(-4px);
}

.footer-custom {
  background-color: #de9ca4;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-family: Arial, sans-serif;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-info {
  text-align: center;
  flex-grow: 1;
}

.footer-info p {
  margin: 5px 0;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.footer-social i {
  font-size: 30px;
  color: #f0f0f0;
}