* {
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
    font-family: Arial, sans-serif;
}

body {
    background-color: #9e9898;
    color: #443e3e;
}

header {
    background-color: #6e6e77;
    color: rgb(224, 219, 219);
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #35323b;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(209, 202, 202);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dest {
    background-image: url('../images/fazenda.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(70, 71, 77);
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.container img {
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.texto {
    width: 50%;
    padding: 20px;
}

section:nth-child(even) .texto {
    order: -1;/*Move o texto para antes da imagem*/
}
