:root {
  --color-font-clara: #f4ebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: #ffeae9;
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #de9ca4;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #de9ca4;
  padding: 5px;
  text-align: center;
}

nav a {
  color: #de9ca4;
  text-decoration: none;
  margin: 5 15px;
  font-weight: bold;
}

.nav-custom {
  background-color: #de9ca4;
}

.navbar-nav {
  gap: 10px;
}

.nav-link {
  color: var(--color-font-clara);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: var(--color-font-clara);
   border-radius: 12px;
  box-shadow: 0 16px 32px rgb(248, 244, 244);
  transform: translateY(-4px);
}
main {
  flex-grow: 1; 
}

main.container {
  width: 50%;
  max-width: 1000px;
  margin: 90px auto;
  padding: 50px;
  background-color: #de9ca4(224, 221, 221);
  border-radius: 30px;
  box-shadow: 0 0 10px #d8cdcd;
  color: #000000;
}

.dest {
  background-image: url('../images/Logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  font-family: var(--font-primaria);
  text-shadow: 2px 2px 6px black;
  border-radius: 10px;
  margin: 30px 0;
}

.texto {
  flex: 1;
  padding: 20px;
  font-family: var(--font-secundaria);
}

section:nth-child(even) .texto {
  order: -1;
}

.footer-custom {
  background-color: #de9ca4;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-family: Arial, sans-serif;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-info {
  text-align: center;
  flex-grow: 1;
}

.footer-info p {
  margin: 5px 0;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.footer-social i {
  font-size: 30px;
  color: #f0f0f0;
}