* {
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e2dada;
    color: #3f3939;
    background-image: url('../images/fundo.png');
    
}

header {
    background-color: #3b3b3f;
    color: rgb(221, 208, 208);
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #434347;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(199, 191, 191);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(224, 221, 221);
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(43, 42, 42);
}

.dest {
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(76, 76, 78);
    font-size: 50px;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto ;
}

.container img {
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.texto {
    width: 500%;
    padding: 30px;
}

